<html>
<body>
<title>mewantee!</title>

<center><b>ME WANTEE!</b></center>

<table>

<td width=12% >
</td>

<td>

<p align=right>
{% if account %}
<b>{{ account.nickname }} |</b>
{% endif %}
<a href="{{ url }}">{{ url_linktext }}</a>
</p>
<hr>

<table>
<td width=16% valign=top>
{% if account %}
Current Points {{ account.points }} 
{% else %}
{% if user %}
<form action="/account" method="post">
<div>nickname <textarea name="nickname" rows="1" cols="10"></textarea></div>
<div><input type="submit" value="create flimflam account"></div>
</form>
{% else %} 
<p>Login and create an account</p>
{% endif %}
{% endif %}
</td>

<td width=3%></td


<td width=40%>
<div id ="uniqueblock">
	{% block uniqueblock %}{% endblock %}
<br><br>{{ message  }}
</div>
</td>

<td width=16%></td>
</table>

<hr>

</td>

<td width=12%></td>

</table>
<p align=center >all rights reserved 2008 binarymillenium</p>








<!-- google analytics -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1790845-3");
pageTracker._trackPageview();
</script>



<!--  ads -->
<script type="text/javascript"><!--
google_ad_client = "pub-3567472245202712";
/* 728x90, created 9/11/08 */
google_ad_slot = "7554612788";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<body>
</html>

